button {
  cursor: pointer;
}

div.outer-container {
  display: flex;
  flex-direction: column;
}

div.input-container {
  display: flex;
  flex-direction: row;
}

div.input-container input {
  flex-grow: 1;
}

div.todo-container {
  flex-grow: 1;
}
