button {
  cursor: pointer;
}

div.outer-container {
  display: flex;
  flex-direction: column;
}

div.input-container {
  display: flex;
  flex-direction: column;
  input {
    flex-grow: 1;
  }
  span {
    font-size: 0.7rem;
  }
}

div.todo-container {
  flex-grow: 1;
}
