@import "~sass/variables";

li {
  cursor: pointer;
  list-style-type: none;
  background-color: $list-item-background-color;
  color: $list-item-color;
  margin: 0.2rem;
  padding: 0.2rem;
}

li.done {
  text-decoration: line-through;
}
